.heading__round {
    background-image: url(../../../images/Mars.png);
    background-repeat: no-repeat;
    position: fixed;
    width: 450px;
    height: 150px;
    margin-left: 390px;
    top: 136px;
}

@media screen and (max-width: 1280px) {
    .heading__round {
        margin-left: 300px;
    }
}

@media screen and (max-width: 768px) {
    .heading__round {
        display:none;
    }
}