.Item__number {
  display: flex;
  align-items: center;
  color: rgb(220, 220, 220);
  font-weight: bold;
  font-size: 55px;
  line-height: 47px;
  margin: 0 auto 0 auto;
}

@media screen and (max-width: 1280px) {
  .Item__number {
    font-size: 45px;
  }
}

@media screen and (max-width: 900px) {
  .Item__number {
    font-size: 25px;
    line-height: 27px;
  }
}
