.Item {
    display: flex;
    flex-direction: column;
    /*border: 1px solid salmon;*/
}

/*.Item:hover {
    background: linear-gradient(to top left,rgb(249, 249, 250) 0%,rgba(125,185,232,0) 80%)
}*/