.Heading {
    display: flex;
    width: 450px;
    flex-direction: column;
    margin: 117px 0 0 438px;
}

.Round {
    background-image: url(../../images/Mars.png);
    background-repeat: no-repeat;
    position: fixed;
    width: 450px;
    height: 150px;
    margin-left: 320px;
    top: 136px;
}
