.BenefitItem {
    display: grid;
    grid-template-columns: repeat(2, 140px);
    grid-template-rows: repeat(2, 140px);
    row-gap: 10px;
    column-gap: 10px;
    margin: 118px 108px 0 0;
    /*border: 1px solid salmon;*/
}

@media screen and (max-width: 800px) {
    .BenefitItem {
        grid-template-columns: repeat(1, 70px);
        grid-template-rows: repeat(4, 70px);
        margin: 50px 13px 0 0px;
    }
}

@media screen and (max-width: 320px) {
    .BenefitItem {
        grid-template-columns: repeat(4, 70px);
        grid-template-rows: repeat(1, 70px);
        margin: 0px 0px 0 0px;
    }
}