.BenefitItem {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: repeat(2, 140px);
  row-gap: 10px;
  column-gap: 10px;
  margin: 118px 108px 0 0;
  height: max-content;
}

@media screen and (max-width: 900px) {
  .BenefitItem {
    grid-template-columns: repeat(4, 140px);
    margin: 20px auto;
  }
}

@media screen and (max-width: 600px) {
  .BenefitItem {
    grid-template-columns: repeat(4, 70px);
    margin: 20px auto;
  }
}

@media screen and (max-width: 900px) {
  .BenefitItem {
    margin: 0 auto;
  }
}
