.BenefitItem {
    display: grid;
    grid-template-columns: repeat(2, 185px);
    grid-template-rows: repeat(2, 185px);
    row-gap: 10px;
    column-gap: 10px;
    margin-right: 340px;
    margin: 38px 340px 0 237px;
    /*border: 1px solid salmon;*/
}